:root {
  font-family: helvetica;
}


* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    
  }
header {
  width: auto;
  height: 40px;
  background-color: #212121;
  color: white;
} 
header section h1 {
  padding: 5px;
  margin-left: 130px;
  
  
}
header section nav ul {
  list-style: none;
  display: flex;
  position: absolute;
  top:0;
  right:0; 
  margin-right: 130px;
  
}
header section nav ul li {
  padding: 10px;
  margin: 0 auto;
 
 
}
header section nav ul li:hover {
background-color: #F9A825;
border-radius: 10px;
}
main  {
width: 500px;
height: auto;
border: 1px solid black;
display: flex;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
justify-content:center; 
padding: 20px;



}

main article {
  border-right: 1px dotted black;
  padding: 10px;
}

main form legend{
display: flex;
padding: 5px;
}




 footer {
  width: 100%;
  height: 80px;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
} 